In [1]:
from seaborn.utils import os, plt, np, pd
import seaborn as sns

In [2]:
os.getcwd()

'W:\\MSc-AIDS-UoH\\Trimester_2\\UoH_Applied_AI\\Project\\Report'

In [3]:
my_pkg = 'C:\\Users\\welcome\\Desktop\\MyFuncs'
os.sys.path.append(my_pkg)

In [4]:
from ds_funcs import DsUtils as ds
from visualize import VizUtils as viz
from ai_funcs import AiUtils as ai
from myio_funcs import IoUtils as io

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\welcome\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\welcome\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package universal_tagset to
[nltk_data]     C:\Users\welcome\AppData\Roaming\nltk_data...
[nltk_data]   Package universal_tagset is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\welcome\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [5]:
os.listdir()

['.ipynb_checkpoints',
 'Applied_AI_proj.ipynb',
 'basic-to-advanced-models-for-sentiment-analysis.ipynb',
 'best_model.hdf5',
 'data_description.txt',
 'financial_data.csv',
 'hotels',
 'london_hotels_reviews.csv',
 'my_hotels_data.csv',
 'New folder',
 'OpinRankDatasetWithJudgments.doc',
 'OpinRankDatasetWithJudgments.pdf',
 'OpinRankDatasetWithJudgments.zip',
 'Opin_Rank_annotation_hotel_data.ipynb',
 'pic.pkl',
 'project_methods.py',
 'Project_report.docx',
 'ResearchArticles',
 'reuters21578.tar.gz',
 'sentiment labelled sentences',
 'sentiment_reviews.csv',
 '__pycache__',
 '~$inRankDatasetWithJudgments.doc',
 '~$oject_report.docx',
 '~WRL0953.tmp',
 '~WRL4021.tmp']

In [6]:
data_dir = 'hotels//data//'

In [7]:
os.listdir(data_dir)

['Hotel_Review_NLP-master.zip',
 'london',
 'london.csv',
 'london_hotel_review.zip']

In [8]:
pwd

'W:\\MSc-AIDS-UoH\\Trimester_2\\UoH_Applied_AI\\Project\\Report'

In [9]:
# fname = 'reuters21578.tar.gz'
# io.unzip_a_file(fname)

In [13]:
def check_for_keywords_in_text(topic, text):
    """check for matching text between topic and text
    and return matching words.
    Return:
    matching_words"""
    
    import string
    topic_words = np.array(topic.split())
    text_check = ' '.join([w for w in text.split() if w.strip().lower() not in string.punctuation])
    present_words = []
    for i in range(len(topic_words)):
        if topic_words[i].lower() in text_check.lower():
            present_words.append(i)
    return ' '.join(topic_words[present_words])

def flag_negation(topic, negate_word):
    
    if isinstance(negate_word, (tuple, list)):
        neg_list = [f'not {w.lower()}' for w in negate_word]
        return get_matching_keys(topic, neg_list)
    use_word = f"not {negate_word}"
    return get_matching_keys(topic, use_word)

def get_matching_keys(text, search_for):
    
    words_list = [w.lower() for w in text.split()]
#     print(words_list)
    if not isinstance(search_for, str):
        if isinstance(search_for, (list, tuple)):
            search_for = [w.lower() for w in search_for]
#             print(search_for)
            holder = []
            for i in range(len(search_for)):
                holder.append(1 if search_for[i] in words_list else 0)
            return 1 if sum(holder) > 0 else 0
    return 1 if search_for.lower() in text.lower() else 0
    
def find_matches(df):

    df['topic_keywords'] = df.apply(lambda row: check_for_keywords_in_text(row['title'], row['review']),
                                     axis=1)
#     display(df.head())

    df = df.loc[df['topic_keywords'].apply(len) != 0].reset_index(drop=True)
#     display(df)
    return df

In [14]:
fname = 'london_hotels_reviews.csv'
df = pd.read_csv(fname)
df

,title,review
0,Good for a short stay in Central London,I've stayed at the Queensgate on several occas...
1,Good value for London,We stayed at 130 Queensgate Apartments for 6 d...
2,Make sure you have good theft insurance.,"Having read the reviews on this site, I though..."
3,Foul hotel,"This is a foul hotel. From the dingy, peeling ..."
4,Functional in a good location,"130 Queensgate is, as others state, a bit drea..."
...,...,...
68316,"Never a Double Room or ""Refurbished to a HIGH ...",This hotel was advertised as &quot;Recently re...
68317,Bubbled Paint!,"Basic but clean hotel,stayed 3 nights only pro..."
68318,OK hotel with lots of small problems,Just came back from the hotel and it's nothing...
68319,Just OK wouldn't stay here again!,I booked this hotel because I couldn't get a T...
68320,As others have said it's an O K hotel,As others have said previously that this is an...

#### FILTER OUT TOPIC KEYWORDS

In [15]:
df = find_matches(df)
df

,title,review,topic_keywords
0,Good for a short stay in Central London,I've stayed at the Queensgate on several occas...,Good for a stay in London
1,Good value for London,We stayed at 130 Queensgate Apartments for 6 d...,Good value for London
2,Make sure you have good theft insurance.,"Having read the reviews on this site, I though...",you have good
3,Foul hotel,"This is a foul hotel. From the dingy, peeling ...",Foul hotel
4,Functional in a good location,"130 Queensgate is, as others state, a bit drea...",in a good
...,...,...,...
59879,"Never a Double Room or ""Refurbished to a HIGH ...",This hotel was advertised as &quot;Recently re...,a Double Room or to a HIGH
59880,Bubbled Paint!,"Basic but clean hotel,stayed 3 nights only pro...",Bubbled
59881,OK hotel with lots of small problems,Just came back from the hotel and it's nothing...,OK hotel with of problems
59882,Just OK wouldn't stay here again!,I booked this hotel because I couldn't get a T...,Just OK wouldn't stay here
59883,As others have said it's an O K hotel,As others have said previously that this is an...,As others have said it's an O K hotel

#### IDENTIFY POSITIVE KEYWORDS

In [16]:
search_words = ['good', 'great', 'wonderful', 'excellent', 'clean', 'beautiful', 'ok', 'okay', 'bubbled', 'awesome',
               'tidy', 'special', 'grand', 'love', 'like', 'quiet', 'average', 'quality', 'comfort', 'max','better',
               'fantastic']
posv = df['topic_keywords'].apply(lambda x: get_matching_keys(x, search_words))
df.loc[posv == 1, 'opinion'] = 1
display(posv, posv.sum())

0        1
1        1
2        1
3        0
4        1
        ..
59879    0
59880    1
59881    1
59882    1
59883    0
Name: topic_keywords, Length: 59884, dtype: int64

17049

#### CHECK FOR POSITIVE NEGATION

In [17]:
cond = ((posv == 1) &
        df['topic_keywords'].str.contains('not good'))

df.loc[cond, 'opinion'] = -1
df.loc[cond]

,title,review,topic_keywords,opinion
2053,Clean but cramped not good for a long stay,"We stayed on the ground floor, with a bright f...",Clean but cramped not good for a stay,-1.0
4896,Simply not good enough....,"Firstly, let me say that I live very close to ...",not good,-1.0
8835,not too good at all,Not goodGood food but room not at all nice - b...,not good at all,-1.0
8836,not that good,good location - good food - poor rooms - broke...,not good,-1.0
9968,okay yet not good enough to be a crowne plaza,This hotel is quite a way out of London on the...,okay yet not good to be a,-1.0
12899,not good at all,You take a chance with this hotel. Some of it ...,not good at all,-1.0
14631,not good at all,not very good hotel. dissappointing weekend st...,not good,-1.0
17151,Hotel OK Food not good,Stayed here for a long weekend with family. Ho...,Hotel OK Food not good,-1.0
18104,not good during summer,I agree with the previous review. We were ther...,not good during summer,-1.0
24536,Hogarth Hotel across the street is not good,It is good news that the Hogarth Hotel Kensing...,Hogarth Hotel across the street is not good,-1.0
37672,Nice hotel- but not good service,Booked this hotel in August for and October we...,Nice but not good service,-1.0
38423,Very small rooms not good value,Checked in to the smallest room I have ever se...,Very small not good,-1.0
40296,Good but not *that* good,This is a very decent five-star hotel. A good ...,Good but not good,-1.0
43748,Attentive staff but not really good value,"Due to the location of this hotel, in one of L...",Attentive staff but not good value,-1.0
45946,Not too bad not too good either,The best thing about this hotel is the view - ...,Not not good,-1.0
46812,not good,This is one of the worst hotels I and my colle...,not good,-1.0
50571,Good location not so good hotel,I booked this hotel for one night to take my g...,Good not good hotel,-1.0
51004,Pleasant but not particularly good value,Location========Conveniently located a minute ...,Pleasant but not good value,-1.0
55335,I got an upgrade and it was still not very good,The Hotel is quite difficult to find. It is a ...,I an upgrade and it was still not good,-1.0
56371,So-so but not good for business travel,Whilst the hotel itself was average &amp; I am...,but not good for,-1.0
57093,Good location not so good hotel,Good points:-Very handy for Covent Garden &amp...,Good not good,-1.0
57626,Cheap for London but not good if you have much...,We had just arrived from Australia at 6 am tha...,for London but not good if luggage.,-1.0

In [18]:
cond = df['opinion'] == -1
df.loc[cond].sample(10)

,title,review,topic_keywords,opinion
50571,Good location not so good hotel,I booked this hotel for one night to take my g...,Good not good hotel,-1.0
51004,Pleasant but not particularly good value,Location========Conveniently located a minute ...,Pleasant but not good value,-1.0
12899,not good at all,You take a chance with this hotel. Some of it ...,not good at all,-1.0
17151,Hotel OK Food not good,Stayed here for a long weekend with family. Ho...,Hotel OK Food not good,-1.0
45946,Not too bad not too good either,The best thing about this hotel is the view - ...,Not not good,-1.0
24536,Hogarth Hotel across the street is not good,It is good news that the Hogarth Hotel Kensing...,Hogarth Hotel across the street is not good,-1.0
37672,Nice hotel- but not good service,Booked this hotel in August for and October we...,Nice but not good service,-1.0
40296,Good but not *that* good,This is a very decent five-star hotel. A good ...,Good but not good,-1.0
56371,So-so but not good for business travel,Whilst the hotel itself was average &amp; I am...,but not good for,-1.0
38423,Very small rooms not good value,Checked in to the smallest room I have ever se...,Very small not good,-1.0

#### IDENTIFY NEGATIVE KEYWORDS

In [19]:
df['topic_keywords'].sample(10)

6080                                                 great
56859    stay here if you have an or late flight NO LUG...
25897                     A very good London hotel for the
56680                                    ok is about all i
15709                                       and rightly so
55245                                             Dreadful
49905                      Excellent Hotel Excellent Staff
22227                                 Good Value for Money
9000                            as bad as previous reviews
53699                                                 this
Name: topic_keywords, dtype: object

In [20]:
df.loc[posv == 0, 'topic_keywords'].apply(lambda x: get_matching_keys(x, search_words))

3        0
5        0
7        0
9        0
11       0
        ..
59873    0
59874    0
59878    0
59879    0
59883    0
Name: topic_keywords, Length: 42835, dtype: int64

In [21]:
search_words = ['bad', 'terrible', 'dirty', 'smell', 'drab', 'unclean', 'unfriendly', 'little', 'poor', 'dump', 'expensive',
               'boring', "don't", 'worst', 'worse', 'difficult', 'disappointed', 'disgusting', 'awful', 'tiny', 
               'avoid', 'fringe', 'cheated', 'unacceptable', 'minimally', 'ick!!!', 'yuck!', 'lack', 'tatty!', 'hole',
               'careful', 'warning', 'warned', 'clueless', 'unwelcoming', 'horroble', 'over', 'overpriced', 'noisy',
               'horror', 'tough', 'pricy', 'dread', 'dreadful', 'dreaded', 'appalling', 'appalled', 'lousy',
                'contempt', 'but', 'however']
negv = df.loc[posv == 0, 'topic_keywords'].apply(lambda x: get_matching_keys(x, search_words))
display(negv)
df.loc[(posv == 0) &
       (negv == 1), 'opinion'] = -1
display(negv, negv.sum())

3        0
5        0
7        0
9        1
11       0
        ..
59873    0
59874    0
59878    0
59879    0
59883    0
Name: topic_keywords, Length: 42835, dtype: int64

3        0
5        0
7        0
9        1
11       0
        ..
59873    0
59874    0
59878    0
59879    0
59883    0
Name: topic_keywords, Length: 42835, dtype: int64

4268

#### CHECK FOR POSITIVE NEGATION

In [22]:
cond = ((posv == 1) &
        df['topic_keywords'].str.contains('not bad'))

df.loc[cond, 'opinion'] = 1
df.loc[cond]

,title,review,topic_keywords,opinion
14441,Not great not bad,I booked this hotel at Stansted Airport on a l...,Not great not bad,1.0
18651,Average - not bad but better deals to be had,Here's my story: I looked at the discount site...,not bad but better deals to be had,1.0
35122,Not great but not bad either,I went to England (for the first time) with my...,Not great but not bad either,1.0
55300,OK not a 4-star but still not bad,I stayed here with a friend earlier this month...,OK not a 4-star but not bad,1.0

In [23]:
cond = ((df['opinion'] == -1) &
        (df['topic_keywords'].str.contains('however')))
df.loc[cond]

,title,review,topic_keywords,opinion
42436,Great location however the service,We arrived at the Rubens at the Palace about 1...,however the service,-1.0
43152,Overrated achingly hip however achingly uncomf...,"A five star hotel should be: comfortable, disc...",hip however,-1.0

In [24]:
display(df.loc[df['opinion'] == 1].shape[0], df.loc[df['opinion'] == -1].shape[0])

17027

4290

In [25]:
positives = df.loc[df['opinion'] == 1].sample(4300).reset_index(drop=True)
display(positives)
negatives = df.loc[df['opinion'] == -1].sample(4250).reset_index(drop=True)
display(negatives)

,title,review,topic_keywords,opinion
0,Good Value Clean Hostel,We found The Globetrotter Inn to be a good val...,Good Value Clean Hostel,1.0
1,Great Hotel,Great hotel in a tremendous location. Staff ex...,Great Hotel,1.0
2,Good value for money in interesting area,Good basic but clean hotel. Rooms were freshly...,Good for in interesting area,1.0
3,Good enough,"Good sized-room, a bit pricey, but what in Lon...",Good,1.0
4,Fantastic,After reading the reviews for this hotel I was...,Fantastic,1.0
...,...,...,...,...
4295,Just got back from great week-end,Great Location and easy parking for a weekend ...,Just from great,1.0
4296,ok budget hotel,Stayed there for 1 night. The hotel is located...,ok budget hotel,1.0
4297,Great place what a relief!,We had a nightmare at our previous accommodati...,Great place a,1.0
4298,felt like home in a great neighborhood,My daughter and I had a great stay. The room w...,a great,1.0
4299,Fantastic View but the room was worn!,We just spent a night in room 622 ( a suite) a...,Fantastic View but the room was,1.0

,title,review,topic_keywords,opinion
0,My worst hotel experience,"I pulled up in a taxi and saw three men, who a...",My worst hotel experience,-1.0
1,Terrible,"Just terrible. Odour , dust, no service at all.",Terrible,-1.0
2,Lack of attention to detail makes this hotel e...,My wife and I have just spent the weekend in t...,of to this hotel expensive for what you get,-1.0
3,Nothing Special but worth the money.,Visited London on our honeymoon. Went a few da...,but the,-1.0
4,Don't even think about it!,"A truly dreadful 'hotel'. The room was dirty, ...",Don't even,-1.0
...,...,...,...,...
4245,Avoid like the plague,I cant state how strongly I feel about this re...,Avoid the,-1.0
4246,wot a bunch of cowboys avoid it like hell,my sister booked the hotel with her card and i...,wot a of avoid it,-1.0
4247,Central Location but Noisy and Worn Room,Have previously stayed at Park Lane Sheraton s...,Central Location but Noisy and Room,-1.0
4248,The Kings Hotel is in such poor condition that...,We booked Kings Hotel for its location and pri...,The Kings Hotel is in such poor condition that...,-1.0
4249,Central location - but a bit tatty,Central location (it's just a block or two nor...,Central location but a,-1.0

In [26]:
hotels_labelled = pd.concat([positives, negatives], axis=0, ignore_index=True).sample(8532).reset_index(drop=True)
hotels_labelled

,title,review,topic_keywords,opinion
0,Great value for money,Just returned from a one night stay at the Tra...,Great value for,1.0
1,Avoid at all cost!,"Earl's Court area is great (now) HOWEVER, DO N...",Avoid at all cost!,-1.0
2,small not pretty but cheap and a very convevie...,This hotel has tiny bedrooms and an even small...,small but and a location,-1.0
3,Great Budget B,I stayed at the Cherry Court for 6 nights. It ...,Great B,1.0
4,Well located and well priced but rock hard bed...,We stayed for two nights on our way back to Au...,Well located and well but rock hard no for us,-1.0
...,...,...,...,...
8527,Great Modern Hotel at a good price. Only 1 min...,This is a great hotel just two doors down from...,Great Modern Hotel at a good Only from the Hea...,1.0
8528,Good location,"A reasonably priced hotel, it's London, and it...",Good location,1.0
8529,Great locationgreat value!,Chose the Bonnington for a weekend break in Ma...,Great,1.0
8530,avoid if possible,I got stuck in london due to a flight delay so...,avoid,-1.0
8531,Fantastic Location Average Hotel,My partner and I have just returned from a mos...,Fantastic Location Hotel,1.0

In [27]:
hotels_labelled['titled_reviews'] = hotels_labelled.apply(lambda row: f"title: {row['title']} \n{row['review']}", axis=1)
hotels_labelled.titled_reviews

0       title: Great value for money \nJust returned f...
1       title: Avoid at all cost! \nEarl's Court area ...
2       title: small not pretty but cheap and a very c...
3       title: Great Budget B \nI stayed at the Cherry...
4       title: Well located and well priced but rock h...
                              ...
8527    title: Great Modern Hotel at a good price. Onl...
8528    title: Good location \nA reasonably priced hot...
8529    title: Great locationgreat value! \nChose the ...
8530    title: avoid if possible \nI got stuck in lond...
8531    title: Fantastic Location Average Hotel \nMy p...
Name: titled_reviews, Length: 8532, dtype: object

### AUTOMATICALLY LABEL DATASET BASED ON SCORES FROM NLTK's SENTIMENT INTENSITY ANALYSER

In [28]:
import nltk

In [29]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\welcome\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [30]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA

In [31]:
sia = SIA()

#### Compute sentiment polarity score using SIA polarity_scores function

In [32]:
sentiment_scores = hotels_labelled['review'].apply(sia.polarity_scores)

In [33]:
auto_labels = sentiment_scores.apply(lambda x: 1 if x['compound'] > 0 else -1)

In [41]:
annot_freq = hotels_labelled['opinion'].value_counts()
annot_freq

 1.0    4293
-1.0    4239
Name: opinion, dtype: int64

In [42]:
ds.give_percentage(annot_freq)

 1.0    50.32
-1.0    49.68
Name: opinion, dtype: float64

In [43]:
auto_freq = auto_labels.value_counts()
auto_freq

 1    6997
-1    1535
Name: review, dtype: int64

In [44]:
ds.give_percentage(auto_freq)

 1    82.01
-1    17.99
Name: review, dtype: float64

#### Example of a mixed but overall positive remark that was automatically classified as negative

In [35]:
i = (hotels_labelled.index.isin(auto_labels[auto_labels == -1].index) &
     (hotels_labelled['opinion'] != -1))
hotels_labelled.loc[i].iloc[0]['review']

"We have been to this hotel twice mainly for it's great location to covent garden and the Royal Opera House. Generally the rooms have been fine however on our last visit my wife was half way through showering and the water went completly off. After phoning down to reception we were quickly moved to another room on a lower floor (hoping this may increase the water pressure). However after the shower being on for 30sec it again went off completely. Rather irrate at this point as we had dinner reservations (which we were late for and had to rush our meal) and the fact that my wife had been unsuccessfully trying to shower for 45 minutes I was told by reception that this was common in most hotels when large numbers of guests were trying to shower and to wait for 10 minutes and try again. We travel widely and this is the first time I have ever been in a hotel with any star rating (let alone a London 4/5 star hotel) where it has been physically impossible to take a shower for over 50 minutes. The staff weren't to blame as they responded quickly to all our requests but the managment need to sort out this unacceptable issue."

#### Example of a mixed but overall negative remark that was automatically classified as positive

In [36]:
i = (hotels_labelled.index.isin(auto_labels[auto_labels == 1].index) &
     (hotels_labelled['opinion'] != 1))
hotels_labelled.loc[i].iloc[0]['review']

"This hotel has tiny bedrooms and an even smaller bathroom but for a negotiated 65 Pounds per night it is good value, and bedding is clean - don't expect 5 star for that price. Continental breakfast is the same as you find at most Europe hotels and is included in the price. Yes the lift doesn't work so when we went back to stay for the 2nd time we only booked again if they would give us a 1st Floor room - no higher floor than that, and that was what we got. (1st trip we got the 3rd floor room and I wouldn't go back if I had to walk all that winding stairway again ) The location is right across the road from Paddington station and walking to Hyde Park &amp; beyond was easy. Hop on hop off bus stops at their front door. So if you only want somewhere to sleep at night it's good value, but if you want to spend time in the room during the day, maybe look elsewhere."

In [38]:
hotels_labelled['auto_labels'] = auto_labels
hotels_labelled

,title,review,topic_keywords,opinion,titled_reviews,auto_labels
0,Great value for money,Just returned from a one night stay at the Tra...,Great value for,1.0,title: Great value for money \nJust returned f...,1
1,Avoid at all cost!,"Earl's Court area is great (now) HOWEVER, DO N...",Avoid at all cost!,-1.0,title: Avoid at all cost! \nEarl's Court area ...,-1
2,small not pretty but cheap and a very convevie...,This hotel has tiny bedrooms and an even small...,small but and a location,-1.0,title: small not pretty but cheap and a very c...,1
3,Great Budget B,I stayed at the Cherry Court for 6 nights. It ...,Great B,1.0,title: Great Budget B \nI stayed at the Cherry...,1
4,Well located and well priced but rock hard bed...,We stayed for two nights on our way back to Au...,Well located and well but rock hard no for us,-1.0,title: Well located and well priced but rock h...,-1
...,...,...,...,...,...,...
8527,Great Modern Hotel at a good price. Only 1 min...,This is a great hotel just two doors down from...,Great Modern Hotel at a good Only from the Hea...,1.0,title: Great Modern Hotel at a good price. Onl...,1
8528,Good location,"A reasonably priced hotel, it's London, and it...",Good location,1.0,title: Good location \nA reasonably priced hot...,1
8529,Great locationgreat value!,Chose the Bonnington for a weekend break in Ma...,Great,1.0,title: Great locationgreat value! \nChose the ...,1
8530,avoid if possible,I got stuck in london due to a flight delay so...,avoid,-1.0,title: avoid if possible \nI got stuck in lond...,-1
8531,Fantastic Location Average Hotel,My partner and I have just returned from a mos...,Fantastic Location Hotel,1.0,title: Fantastic Location Average Hotel \nMy p...,1

In [39]:
fname = 'my_hotels_data.csv'
hotels_labelled.to_csv(fname, index=False)

___END___